# COMMUNITY PROJECT GITIGNORE #
# Ignore OS files #
# =============== #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes
# Ignore logs and databases #
# ========================= #
*.log
*.sql
*.sqlite
error_log
access_log
# Ignore packages #
# =============== #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
# Ignore everything in "wp-content" except the "plugins" and "themes" directories. #
# ================================================================================ #
/*
!.gitignore
!plugins/
!themes/
!README.md
# Ignore everything in "plugins" except certain plugins. #
# ========================================================== #
plugins/*
!plugins/renewal-funds-functionality/
# Ignore everything in "themes" except the active theme. #
# ====================================================== #
themes/*
themes/renewal-funds/gulpfile.js
!themes/renewal-funds/
# Ignore npm packages #
# =================== #
themes/renewal-funds/node_modules/*
# Ignore build files #
# ================== #
themes/renewal-funds/build/*
themes/renewal-funds/gulpfile.js

