//styles for pc and rf template parts

.welcome {
    text-align: center;
    padding: 1.5rem 0;
    @include desktop {
        margin: 1.5rem 0;
        padding: 3rem 0;
    }
    p {
        font-size: 2rem;
        line-height: 0;
        padding: 1.5rem 0;
        font-weight: 900;
        @include tablet {
            font-size: 3rem;
        }
        @include desktop {
            font-size: 4.5rem;
        }
    }
}

.green-text {
    color: $color__brand-color-green;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    // min-width: 510px;
}

.main-dashboard-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

    @include desktop {
        margin-bottom: 2rem;
    }
}

.nav-icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    @include desktop {
        width: 25%;
    }
    p {
        font-size: 1.5rem;
        max-width: 160px;
        text-align: center;
        font-weight: bold;
        line-height: 1.1;
        margin: 1.3rem 0;

        @include desktop {
            font-size: 2.5rem;
            max-width: 280px;
            line-height: 1.2;
        }
    }
}

.nav-icon {
    height: 148px;
    width: 148px;
    border: 4px solid $color__brand-color-lgreen;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .history-logo {
        width: 40%;
    }

    img {
        width: 60%;
    }

    &:hover {
        background-color: $color__brand-color-lgreen;
    }

    @include tablet {
        width: 200px;
        height: 200px;
    }

    @include desktop {
        width: 250px;
        height: 250px;
    }
}

// Trademark section in Portfolio dashboard

.trademark-section {
    @include desktop {
        //display: flex;
        margin: 0 auto;
        width: 600px;
        position: relative;
    }
}

.trademark-image-wrapper {
    visibility: hidden;
    height: 0px;
    @include desktop {
        width: 800px;
        height: 650px;
        visibility: visible;
        position: absolute;
        left: -265px;
    }
}

.trademark-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 656px;
    max-height: 656px;
    @include desktop {
        position: absolute;
        left: 280px;
        top: 100px;
        margin-bottom: 3rem;
    }
}

.trademark-logo-wrapper {
    width: 100%;
    background-color: $color__brand-color-green;
}

.trademark-logo {
    width: 60%;
    display: flex;
    margin: 0 auto;
    padding-top: 1rem;
}

.trademark-text {
    background-color: $color__brand-color-green;
    font-size: 1.25rem;
    color: #fff;
    padding: 2rem 3rem 3rem 3rem;
    line-height: 1.3;
    text-align: center;
    @include tablet {
        font-size: 2rem;
    }
    @include desktop {
        text-align: left;
    }
}

.home {
    position: relative;
}

.home .site-footer {
    @include desktop {
        position: absolute;
        bottom: -800px;
        width: 100%;
    }
}

.admin-bar .site-footer {
    bottom: -100px;
}