//styles for pc and rf template parts

.welcome {
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 0;
    @include tablet {
    font-size: 3.5rem;
    margin: 1.5rem 0;
    }
    @include desktop {
        font-size: 4rem;
    }
}

.green-text {
    color: $color__brand-color-green;
    font-weight: 900;
}

.main-dashboard-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    @include desktop {
        margin-bottom: 2rem;
    }
}

.nav-icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    @include desktop {
        width: 25%;
    }
    p {
        font-size: 1.3rem;
        max-width: 160px;
        text-align: center;
        font-weight: 500;
        line-height: 1.1;
        margin: 1rem 0;
        @include tablet {
            font-size: 2rem;
            max-width: 250px;
        }
        @include desktop {
            font-size: 2.5rem;
            max-width: 280px;
            line-height: 1.2;
        }
    }
}

.nav-icon {
    height: 148px;
    width: 148px;
    border: 4px solid $color__brand-color-lgreen;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .history-logo {
        width: 40%;
    }

    img {
        width: 60%;
    }

    &:hover {
        background-color: $color__brand-color-lgreen;
    }

    @include tablet {
        width: 200px;
        height: 200px;
    }

    @include desktop {
        width: 250px;
        height: 250px;
    }
}

// Trademark section in Portfolio dashboard

.trademark-section {
    @include desktop {
        //display: flex;
        margin: 0 auto;
        width: 600px;
        position: relative;
    }
}

.trademark-image-wrapper {
    visibility: hidden;
    height: 0px;
    @include desktop {
        width: 750px;
        visibility: visible;
        position: absolute;
        left: -265px;
    }
}

.trademark-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 656px;
    max-height: 656px;
    margin: 0 auto;
    margin-bottom: 2rem;
    @include desktop {
        position: absolute;
        left: 280px;
        top: 100px;
    }
}

.trademark-logo {
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-height: 600px;
}

.home {
    position: relative;
}

.home .site-footer {
    position: absolute;
    bottom: -80px;
    width: 100%;
    @include desktop {
        bottom: -800px;
    }
}

.admin-bar .site-footer {
    bottom: -100px;
}