/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir Book.eot');
	src: url('../../assets/fonts/Avenir Book.eot?#iefix') format('embedded-opentype'),
		    url('../../assets/fonts/Avenir Book.woff2') format('woff2'),
		    url('../../assets/fonts/Avenir Book.woff') format('woff'),
            url('../../assets/fonts/Avenir Book.ttf') format('truetype'),
		    url('../../assets/fonts/Avenir Book.svg#Avenir Book') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir Heavy.eot');
	src: url('../../assets/fonts/Avenir Heavy.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Avenir Heavy.woff2') format('woff2'),
		url('../../assets/fonts/Avenir Heavy.woff') format('woff'),
		url('../../assets/fonts/Avenir Heavy.svg#Avenir Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir Medium.eot');
	src: url('../../assets/fonts/Avenir Medium.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Avenir Medium.woff2') format('woff2'),
		url('../../assets/fonts/Avenir Medium.woff') format('woff'),
		url('../../assets/fonts/Avenir Medium.svg#Avenir Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}