.site-footer {
    background-color: $color__brand-color-olive;
    height: 80px;
    text-align: center;
    color: white;
    .site-info {
        padding: 1.25rem 0;
    }
    p {
        margin: 0;
        padding: 0.5rem 0;
    }
}