/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: #ccc #bbb #aaa;
	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
