/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: #ccc #bbb #aaa;
	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.post-type-archive-story, .page-template-story-upload{
	li:not(:last-child){
		padding-bottom: 2rem;
	}
	.gform_body {
		padding: 0.5rem 3rem;
	}
	.gfield_label {
		padding-bottom: 0.5rem;
	}
	#input_3_2, #input_3_1, #input_3_3 {
		background-color: #d6d6cd;
		border-radius: 25px;
		border: 1px solid #ccc;
		padding: 1rem 1.5rem;
		-webkit-border-radius: 25px;
		-webkit-padding: 1rem 1.5rem;
		-moz-border-radius: 25px;
		-moz-padding: 1rem 1.5rem;
		-o-border-radius: 25px;
		-o-padding: 1rem 1.5rem;
		-ms-border-radius: 25px;
		-ms-padding: 1rem 1.5rem;
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
	}	  
	@include desktop {
		.gform_wrapper {
			padding: 0 5rem;
		}
	}
	@media only screen and (min-width: 641px) {
		.medium { 
			width: 100% !important;
		}
	}
}	
/* just put it here. it affect feedback page and archive story page!!!*/
.gform_wrapper input[type=submit] {
	line-height: 1 !important;
}

.gform_wrapper li.gfield.gfield_error {
	background-color: white !important;
	border-top: none !important;
	border-bottom: none !important;
	padding-top: 0 !important;
}
.gform_wrapper .validation_error {
	border-top: none !important;
	border-bottom: none !important;
	padding: 0.5rem 3rem !important;
	text-align: left !important;
	margin-bottom: 0 !important;
}

.page-template-feedback {
	.gfield_required {
		display: none;
	}
	.ginput_container_textarea {
		padding: 0 2rem !important;
	}
	.gfield_contains_required {
		padding-right: 16px !important;
	}
}