/*  mobile version header!!!!   */

.header-bar {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    background: green;
}

.nav-option {
    background-color: white;
}

.header-resize {
    height: 100vh;
    width: 80%;
    margin-right: 20%;
    .header-bar {
        height: 33vh;
    }
    .nav-option {
        height: 67vh;
    }
}

/*.header-resize {
    height: 100vh;
    background-color: lightgrey;
    .header-bar, .nav-option {
        width: 80vw;
    }
    .header-bar {
        height: 33vh;
    }
    .nav-option {
        height: 67vh;
    }
}*/

/*   desktop version  header!!!! */

@media screen and (min-width: 1000px) {
    
}