// styles for header

/*  mobile version header!!!!   */
.site-header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: $color__brand-color-green;
}
.header-bar {   
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    background: $color__brand-color-green;
}

.site-branding {
    margin-left: 1rem;
    img {
        height: 55px;
        width: 120px;
    }
}
.nav-cancel, .nav-option {
    display: none;
}
.nav-btn {
    color: $color__background-body;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    right: 5%;
}

/*  after clicking nav-btn    */
@include mobile {
.header-resize {
    width: 100%;
    position: fixed;
    .header-container {
        display: flex;
        flex-direction: column;
    }
    .header-bar {
        height: 200px;
    }
    .site-branding {
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 22%;
        width: 230px;
        text-align: center;
        margin-left: 0;
        img {
            height: auto;
            width: 100%;
        }
    }
    .nav-btn {
        display: none;
    }
    .nav-cancel {
        color: white;
        width: 18px;
        display: block;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 10%;
        right: 7%;
        height: 30px;
        width: 30px;
    }
    .nav-option {
        display: block;
        background-color: $color__background-body;
    }
    .main-navigation {
        height: 100%;
        ul {
            display: flex;
            flex-direction: column;
        }
        li {
            width: 100%;
            border-bottom: 3px solid $color__brand-color-lgray;
        }
        a {
            color: $color__text-main;
        }
        .menu-item-44 {
            display: none;
        }
        img {
            margin: 0.5rem 0.5rem;
            height: 32px;
            width: 32px;
        }
        span {
            font-size: 1.1rem;
            position: absolute;
            transform: translate(0,-50%);
            top: 50%;
        }
    }
}
}
/*   desktop version  header!!!! */

@include desktop {
    .site-header {
        background-color: $color__brand-color-green;
        .header-container {
            width: 1240px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
        }
        .header-bar {
            width: 20%;
            padding: 0.8rem 2rem;
            img {
                height: 75px;
                width: 140px;
            }
        }
        .nav-btn {
            display: none;
        }
        .nav-option {
            display: block;
            background: $color__brand-color-green;
            width: 80%;
            .main-navigation {
                padding-right: 1.5rem;
            }
            img {
                display: none;
            }
            .menu {
                display: flex;
                justify-content: flex-end;
            }
            li {
                padding: 2.4rem 0.75rem;
            }
            a {
                font-size: 1.3rem;
                color: $color__background-body;
            }
            .menu-item-127 {
                display: none;
            }
            .main-navigation ul li:hover>ul {
                top: 46px;
                right: 3rem;
                border: 2px solid $color__brand-color-green;
                li {
                    border-bottom: 2px solid $color__brand-color-lgray;
                }
                li:last-child{
                    border-bottom: none;
                }
                img {
                    display: inline-block;
                    height: 29px;
                    width: 29px;
                    margin: 0.5rem 0.5rem 0.5rem 0;
                }
                a {
                    background-color: $color__background-body;
                    color: $color__text-main;
                    width: 104px;
                }
            }
        }
    }
}