/*  mobile version header!!!!   */
.header-bar {
    /* this height needs to be reconsider!!!! */
    height: 273px;   
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    background: $color__brand-color-green;
}

.secondery-navigation {
    display: none;
}

.nav-cancel {
    display: none;
}

/*  after clicking nav-btn    */
.header-resize {
    width: 100vw;
    position: fixed;
    .header-bar {
        height: 33vh;
        justify-content: center;
        position:relative;
    }
    .nav-btn, .site-branding {
        display: none;
    }
    .nav-logo {
        align-self: center;
    }
    .nav-cancel {
        display: block;
        position: absolute;
        top: 5%;
        right: 5%;
    }
    .nav-option {
        height: 67vh;
        background-color: white;
    }
    .main-navigation {
        height: 100%;
        ul {
            display: flex;
            flex-direction: column;
        }
        li {
            width: 100%;
            border-bottom: 3px solid $color__brand-color-lgray;
        }
        a {
            font-size: 2rem;
        }
    }
}

/*   desktop version  header!!!! */

@media screen and (min-width: 1000px) {
    .nav-btn, .nav-logo {
        display: none;
    }
    .secondery-navigation {
        display: block;
        li {
            padding: 0 1rem;
        }
        a {
            font-size: 2rem;
        }
    }
}



/*  menu full screen*/