.history-page-wrapper {
    text-align: center;
    font-size: 1.5rem;
    @include tablet {
        text-align: left;
        max-width: 1240px;
        margin: 0 auto;
    }
}

.story-section-wrapper {
    margin: 0;
    padding: 0;
}

.story-section {
    display: flex;
    @include tablet {
    margin-bottom: 2rem;
    }
}

.story-image-wrapper {
    display: none;
    width: 200px;
    height: 200px;
    @include tablet {
        display: block;
    }
}

.story-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @include tablet {
        margin-left: 2rem;
    }
    a {
        &:hover {
        color: $color__brand-color-olive;
    }
    }
    ul {
        margin: 0;
    }
}

.story-title {
    font-size: 1.3rem;
    font-weight: 900;
    text-decoration: none;
    color: $color__brand-color-dgreen;
    &:visited {
        color: $color__brand-color-dgreen;
    }
    @include desktop {
    font-size: 2rem;
    }
}

.story-text {
    font-size: 1.5rem;
    margin: 0;
    display: none;
    @include tablet {
    display: block;
    min-height: 150px;
    max-height: 150px;
    overflow: hidden;
    }
}

.story-thumbnail {
    width: 200px;
    height: 200px;
    background-size: cover;
    border: 1px solid $color__brand-color-gray;
    &:hover {
    background-color: #C5C5C5;
    }
}

.questionnaire-wrapper {
    padding-top: 2rem;
}

.quest-wrapper {
    @include tablet {
    padding-left: 235px;
    font-size: 1.3rem;
    font-weight: 900;
    }
    @include desktop {
        font-size: 2rem;
    }
    a {
        text-decoration: none;
    }
}

.portfolio-company-year-style {
    display: flex;
    justify-content: center;

    ul {
        margin: 0;
        padding: 0;
        
        li {
            display: inline;
            padding-right: 2rem;
        }

        li:last-child {
            padding-right: 0;
        }
    }

    a {
        text-decoration: none;
        color: $color__brand-color-dgreen;
    &:hover {
        color: $color__brand-color-olive;
    }
    }

}
