.history-page-wrapper {
    text-align: center;
    font-size: 1.5rem;
    h1 {
        font-size: 2.5rem;
        margin: 0;
        text-align: center;
        padding: 2rem;
        }
    @include tablet {
        text-align: left;
        max-width: 1240px;
        margin: 0 auto;
        padding: 0 2rem;
    }
}

.story-section-wrapper {
    margin: 0;
    padding: 0;
}

.story-section {
    display: flex;
    margin-bottom: 2rem;
}

.story-image-wrapper {
    display: none;
    width: 200px;
    height: 200px;
    @include tablet {
        display: block;
    }
}

.story-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @include tablet {
        margin-left: 2rem;
    }
    ul {
        margin: 0;
    }
}

.story-title {
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    color: $color__brand-color-dgreen;
    @include desktop {
    font-size: 2rem;
    }
}

.story-text {
    font-size: 1.5rem;
    margin: 0;
    display: none;
    @include tablet {
    display: block;
    }
    @include desktop {
        font-size: 1.75rem;
    }
}

.story-thumbnail {
    width: 200px;
    height: 200px;
    background-size: cover;
}