// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Media Query Mixins

@mixin desktop {
   @media (min-width: $desktop-width) {
       @content;
   }
}

@mixin tablet {
	@media (min-width: $tablet-width) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: $desktop-width) {
		@content;
	}
}