// styles for feedback page

.feedback-page-wrapper {
    display: flex;
}

// Image for DESKTOP ONLY

.feedback-image-wrapper {
    visibility: hidden;
    @include desktop {
        visibility: visible;
        flex-basis: 62%;
        height: 100vh;
    }
}

.feedback-title p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
    right: 0;
    color: white;
    font-size: 2rem;
    padding: 3rem 1rem;
    background-color: $color__brand-color-green;
}

.feedback-image {
    height: 0px;
    position: relative;
    @include desktop {
    background: no-repeat;
    background-size: cover;
    height: 100vh;
    }
}

// Gravity Form
.page-template-feedback {

    p {
        margin: 0;
    }

.feedback-page {
    @include desktop {
    width: 35%;
    margin-left: 2rem;
    }
}

.feedback-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gform_heading {
    display: none;
}

.feedback-green-text {
    color: black;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    margin: 2rem auto;
    @include tablet {
        font-size: 2.75rem;
    }
    @include desktop {
        font-size: 2.55rem;
    }
}

.feedback-info {
    width: 70%;
    font-size: 1.2rem;
    text-align: center;
    @include tablet {
        width: 50%;
        font-size: 1.5rem;
    }
    @include desktop {
        width: 75%;
    }
}

.feedback-text {
    padding: 0 2rem;
}

.gform_wrapper .textarea.medium {
    height: 200px;
    @include tablet {
        height: 270px;
    }
}

.textarea.medium {
    background-color: $color__brand-color-lgray;
    border-radius: 25px;
    padding: 1rem 1.5rem;
}

.gform_footer {
    font-size: 1.6rem;
}

.gform_wrapper .top_label {
    margin: 0 !important;
}
}

// The Submit Button

body .gform_wrapper .gform_footer input[type=submit] {
    width: auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 3.5rem;
    border-radius: 12px;
    border: none;
    background-color: $color__brand-color-lgreen;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
    font-size: 1.6rem;
    line-height: 1;
    &:hover {
        background-color: $color__brand-color-dgreen;
    }
}

body .gform_wrapper ul li.gfield {
    margin-top: 0 !important;
}


