.thanks-page-wrapper {
    display: flex;
    flex-flow: column;
}

.thanks-msg {
    font-size: 3rem;
    padding: 0 3rem;
    text-align: center;
}

.thanks-image-wrapper {
    padding: 3rem 0;
    max-width: 180px;
    margin: 0 auto;
    @include tablet {
        max-width: 250px;
    }
}

.home-button {
    width: auto;
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 3.5rem;
    border-radius: 12px;
    border: none;
    background-color: $color__brand-color-lgreen;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
    font-size: 1.6rem;
    a {
        color: white;
        text-decoration: none;
        line-height: 1;
    }    
    &:hover {
        background-color: $color__brand-color-dgreen;
    }
}
