/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
* {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Avenir';
    font-style: normal;
    font-stretch: normal;
}

.page-header {
    font-size: 1.25rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 2px;
    h1 {
        margin: 0;
        @include tablet {
            margin: 0 0 2rem 0;
        }
    }
    @include tablet {
        font-size: 1.5rem;
    }
    @include desktop {
        font-size: 1.75rem;
    }
}

.container {
    min-width: 350px;
    max-width: 656px;
    margin: 0 auto;
    @include tablet {
        max-width: 720px;
    }
    @include desktop {
        max-width: 1240px;
    }
}

.wrap {
    padding: 2rem 0;
}

// to pad down for header
.site-content {
    padding-top: 96px;
    @include desktop {
    padding-top: $desktop-content-padding;
    }
}