.acf-label {
    display: none;
}

.acf-field-taxonomy {
    display: none;
}

.acf-form {
    //border: none !important;
}

.acf-fc-layout-handle {
     display: none !important;
}

//.acf-fc-layout-handle {
    //display: none;
//}

.acf-fc-layout-handle + .ui-sortable-handle {
    //display: none;
}

.acf-input-wrap input, .acf-input textarea {
    border: none;
    //background: white;
}

.acf-input-wrap > input {
    background: white !important;
}

#acf-field_58464ce3f2246-0-field_58464d37f2247 {
    //background: white;
}
