.thanks-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.thanks-msg {
    font-size: 3rem;
    padding: 0 3rem;
    text-align: center;
}

.thanks-image-wrapper {
    padding: 3rem 0;
    max-width: 250px;
}

.home-button {
    width: auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 0rem 4rem;
    border-radius: 12px;
    border: none;
    background-color: $color__brand-color-lgreen;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
    font-size: 2rem;
    margin: 2rem 0;
    a {
        color: white;
        text-decoration: none;
    }    
    &:hover {
        background-color: $color__brand-color-dgreen;
    }
}
