/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
* {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Avenir';
    font-style: normal;
    font-stretch: normal;
}

// For Fonts
// h1,h2,h3,h4,h5,h6 {
//     font-family: 
// }

// body {

// }

.container {
    max-width: 656px;
    margin: 0 auto;
    @include tablet {
        max-width: 720px;
    }
    @include desktop {
        max-width: 1240px;
    }
}

.wrap {
    padding: 2rem 0;
}

// to pad down for header
.site-content {
    padding-top: 96px;
    @include desktop {
    padding-top: $desktop-content-padding;
    }
}