.acf-label {
    display: none;
}

.acf-field-taxonomy {
    display: none;
}

.acf-form {
    //border: none !important;
}

.acf-fc-layout-handle {
     display: none !important;
}

//.acf-fc-layout-handle {
    //display: none;
//}

.acf-fc-layout-handle + .ui-sortable-handle {
    //display: none;
}

.acf-input-wrap input, .acf-input textarea {
    border: none;
    //background: white;
}

.acf-input-wrap > input {
    background: white !important;
}

#acf-field_58464ce3f2246-0-field_58464d37f2247 {
    //background: white;
}

/* changes !!!!!*/
.single-questionnaire h1 {
    text-align: center;
}

.single-questionnaire .acf-form {
    padding: 1rem 2rem;
}

.single-questionnaire .acf-fields > .acf-field {
    border-top: none;
}

.single-questionnaire .acf-hl {
    display: none;
}

.single-questionnaire .acf-flexible-content .layout {
    border-top: none;
    border-left: none;
    border-right: none;
    .acf-fc-layout-controlls {
        display: none;
    }
}

.acf-form-submit {
    text-align: center;
    .acf-button {
        width: auto;
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 3.5rem;
    border-radius: 12px;
    border: none;
    background-color: $color__brand-color-lgreen;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
    font-size: 1.6rem;
    a {
        color: white;
        text-decoration: none;
    }    
    &:hover {
        background-color: $color__brand-color-dgreen;
    }
    }
}