.single-page-wrapper {
    text-align: center;
}

.single-image-wrapper {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 0.2)100%);
    background-size: cover;
}

.single-image {
    padding-top: 50%;
    max-height: 30vh;
    background-size: cover;
    @include tablet {
        height: 60vh;
    }
    @include desktop {
        height: 100vh;
    }
}

.single-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 900;
    @include tablet {
        font-size: 2.5rem;
    }
}

.single-story-text {
    margin: 0 auto;
    width: 70%;
    margin-bottom: 2rem;
    text-align: left;
    @include tablet {
        font-size: 1.2rem;
        width: 50%;
    }
}