// Media Query

$desktop-width: 1240px; 

// Structure

$base__space-unit: 1.5em;

// Colors

$color__background-body: #fff;
$color__text-header: #000;
$color__text-main: #323432;
$color__brand-color-green: #4b711c;
$color__brand-color-lgreen: #90b531;
$color__brand-color-dgreen: #234300;
$color__brand-color-olive: #536048;

// Other Colors

$color__brand-color-steel: #404040;
$color__brand-color-gray: #b0aea5;
$color__brand-color-lgray: #d6d6cd;

// Default

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

